body{
  
  text-align: center;
  font-family:cursive;

}
h1{
    margin-top:0;
   
}
.top{
   position: relative;
   padding-top: 100px;
    background-color: #E4F9F5;
    
}
.middle{
    background-color: red;
    height: 200px;
    width: 200px;
   
 
}
.down{
    background-color: green;
    height: 200px;
    width: 200px;
}
.bc{
    position: absolute;
}
.tc{
    position: absolute;
    right:270px;
    top:150px
    
}